[DEFAULT]
bantime = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend = {{ fail2ban_backend }}

[sshd]
enabled = {{ fail2ban_sshd_enabled | ternary('true', 'false') }}
port = {{ fail2ban_sshd_port }}
logpath = %(sshd_log)s
